:root {
  --violet-100: hsl(270, 20%, 96%);
  --violet-200: hsl(276, 100%, 81%);
  --violet-400: hsl(264, 100%, 61%);
  --violet-600: hsl(276, 55%, 52%);

  --violet-700: hsl(271, 15%, 43%);
  --violet-800: hsl(271, 36%, 24%);

  --magenta-400: hsl(289, 100%, 72%);
  --magenta-500: hsl(293, 100%, 63%);

  --grayish-blue-100: hsl(206, 6%, 79%);
  --grayish-blue-200: hsl(270, 7%, 64%);
  --grayish-blue-300: hsl(277, 33%, 92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: #fafafa;
}

main {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

main::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 80vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  top: 0;
  left: 0;
  transform: translateX(-10%);
  background: linear-gradient(45deg, var(--violet-400), var(--magenta-500));
  z-index: -1;
}

main::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 80vh;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  bottom: 0;
  right: 0;
  transform: translateX(10%);
  background: var(--violet-100);
  z-index: -1;
}

.c-iphone {
  background-color: white;
  padding: 0.625rem;
  border-radius: 2rem;
  min-width: 15.625rem;
  max-width: 15.625rem;
  box-shadow: 1.25rem 1.25rem 2.5rem hsla(206, 7%, 79%, 0.4);
}

.c-iphone__display {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  background: radial-gradient(hsla(276, 100%, 81%, 0.3) 5%, transparent 16%) 0 0;
  background-color: var(--violet-100);
  background-size: 1rem 1rem;
}

.c-header {
  position: relative;
  background: linear-gradient(to right, var(--violet-400), var(--magenta-500));
  padding: 2rem 1rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.c-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 8.125rem;
  height: 1.25rem;
  background-color: white;
  border-bottom-left-radius: 0.875rem;
  border-bottom-right-radius: 0.875rem;
  transform: translateX(-50%);
}

.c-header i:first-of-type {
  font-size: 0.625rem;
}

.c-header__contact {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.c-header__contact .avatar {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
}

.c-header__contact figcaption {
  display: flex;
  flex-direction: column;
}

.c-header__contact .fullname {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.9;
}

.c-header__contact .available {
  font-size: 0.5rem;
  margin-top: 0.125rem;
  opacity: 0.6;
}

.c-header i {
  color: white;
}

/* CONTENT ================================ */
.c-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.625rem;
}

.c-content--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.c-content__message {
  padding: 0.5rem;
  border-radius: 0.75rem;
  max-width: 68%;
  font-size: 0.5625rem;
}

.c-content--left .c-content__message {
  background-color: var(--grayish-blue-300);
  border-bottom-left-radius: 0.25rem;
  color: var(--violet-600);
}

.c-content--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.c-content--right .c-content__message {
  background-color: white;
  border-bottom-right-radius: 0.25rem;
  color: var(--violet-700);
  box-shadow: 0.125rem 0.625rem 0.5rem rgba(0, 0, 0, 0.04);
}

.c-content__gallery {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  height: 2.5rem;
}

.c-content__gallery li {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  overflow: hidden;
}

.c-content__gallery img {
  width: 100%;
}

.c-content__payment {
  width: 80%;
  border-radius: 0.75rem;
  border-bottom-left-radius: 0.25rem;
  padding: 0.625rem 1rem 0.625rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: linear-gradient(to right, var(--magenta-500), var(--violet-400));
  color: white;
}

.c-content__payment i {
  opacity: 0.4;
}

.c-content__payment span {
  flex: 1 1 auto;
  font-size: 0.5625rem;
  opacity: 0.8;
}

.c-content__payment strong {
  font-size: 0.75rem;
}

/* FOOTER =================================== */
.c-footer {
  padding: 0.25rem 0.5rem 0.5rem;
  width: 100%;
}

.c-footer__form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  height: 2.125rem;
  border-radius: 1.0625rem;
  padding: 0 0.5rem;
  box-shadow: 0.125rem 0.625rem 0.5rem rgba(0, 0, 0, 0.04);
}

.c-footer__form input {
  flex: 1 1 auto;
  border: none;
  font-size: 0.75rem;
  padding: 0 0.5rem;
  outline: none;
}

.c-footer__form input::placeholder {
  color: var(--grayish-blue-100);
}

.c-footer__form button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--violet-800);
  color: white;
}

.c-about {
  max-width: 28.125rem;
}

.c-about h1 {
  color: var(--violet-800);
  font-weight: 500;
  font-size: 2.5rem;
}

.c-about p {
  margin-top: 1.5rem;
  color: var(--grayish-blue-200);
  font-weight: 400;
  line-height: 1.75rem;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
    padding: 4rem 38px;
    text-align: center;
    gap: 4rem;
  }

  main::before {
    transform: translateX(-55%);
  }

  main::after {
    transform: translateX(55%);
  }
}
